<div class="loggedBoxDiv">
    <h2 class="loggedH2">
        Message View
    </h2>
    <p class="loggedP">
        Why like that:
    </p>
    <input type="text"
        class="loggedInput"
        placeholder="Bcause need to see..."/>
    <p class="loggedP">
        Why need to see:
    </p>
    <input type="text"
        class="loggedInput"
        placeholder="Just for style debbuging..."/>
    <p></p>
    <button class="loggedButton"
        ng-click="goToContacts()">
        Back to Contacts
    </button>
    <p></p>
    <button class="loggedButton"
        ng-click="goToAccessMode(false)">
        Back to Login/Create
    </button>
    <span id="spanErrorCreate"
        class="errorSpan"></span>
    <p></p>
    <p id = "infoLight"
        class="loggedP">
        INFO 1: Suck my dick!
    </p>
    <p id = "infoLight"
        class="loggedP">
        INFO 2: Benfica é merda, SCBraga é cancro, mas futebol é desespero máximo por uma razão para ser infantil!
    </p>
</div>