<div class="accessDiv">
    <h1 class="accessH1">
        WELCOME TO uXat PLATFORM!
    </h1>
    <ng-include
        src="'src/dev/frontend/src/access/partial/uxatAccessPin.html'"
        ng-if="accessPinView">
    </ng-include>
    <ng-include
        src="'src/dev/frontend/src/access/partial/uxatAccessHow.html'"
        ng-if="accessHowView">
    </ng-include>
    <ng-include
        src="'src/dev/frontend/src/access/partial/uxatAccessLogin.html'"
        ng-if="accessLoginView">
    </ng-include>
    <ng-include
        src="'src/dev/frontend/src/access/partial/uxatAccessCreate.html'"
        ng-if="accessCreateView">
    </ng-include>
</div>