<div class="accessBoxDiv accessBoxDivPin">
    <form class="accessForm"
        ng-submit="pinValidation(pinAccess)">
        <h2 class="accessH2">
            Are You Welcome!?
        </h2>
        <p class="accessP">
            Pin:
        </p>
        <input type="password"
            class="accessInput"
            placeholder="Put pin here..."
            ng-model="pinAccess" />
        <p></p>
        <button class="accessButton"
            ng-click="pinValidation(pinAccess)"
            ng-disabled="!pinAccess">
            Go
        </button>
        <p></p>
    </form>
</div>