.dark {
    --body-background-color: #121212;

    --access-box-div-background-color: #420000;
    --logged-box-div-background-color: #004200;

    --text-color: #ededed;
    --shadow-color: #b7b7b7;
    --error-text-color: #aa4200;
    --error-shadow-color: #882100;
    --info-text-color1: #121212;
    --info-shadow-color1: #ededed;
    --info-text-color2: #ededed;
    --info-shadow-color2: #121212;

    --letter-text-color: #ededed;
    --letter-shadow-color: #b7b7b7;


    --input-background-color: #dcdcdc;
    --input-border-color: #cbcbcb;
    --input-text-color: #121212;

    --button-background-color: #303030;
    --button-border-color: #404040;
    --button-text-color: #efefef;
    

    --h1-font-size: 30px;
    --h2-font-size: 20px;
    --p-font-size: 18px;
    --input-font-size: 16px;
    --button-font-size: 16px;

    --font-family: "Lucida Console";
}