.dark {

    /* - - - COLORS - - - */

    --body-background-color: #121212;
    --pin-box-div-background-color: #000042;
    --access-box-div-background-color: #420000;
    --logged-box-div-background-color: #004200;

    --text-color-dark: #121212;
    --shadow-color-dark: #484848;

    --text-color-light: #ededed;
    --shadow-color-light: #b7b7b7;

    --h1-text-color: #121212;
    --h1-shadow-color: #ababab;

    --h2-text-color: #343434;
    --h2-shadow-color: #cdcdcd;

    --p-text-color: #565656;
    --p-shadow-color: #efefef;

    --info-text-color-light: #ededed;
    --info-shadow-color-light: #121212;

    --info-text-color-dark: #121212;
    --info-shadow-color-dark: #ededed;

    --span-error-text-color: #ee4242;
    --span-error-shadow-color: #dd3131;

    --letter-text-color: #121212;
    --letter-shadow-color: #424242;

    --input-background-color: #dcdcdc;
    --input-border-color: #cbcbcb;
    --input-text-color: #121212;
    --input-shadow-color: #9a9a9a;

    --button-background-color: #303030;
    --button-border-color: #404040;
    --button-text-color: #efefef;
    --button-shadow-color: #424242;

    /* - - - SIZES - - - */

    --h1-font-size: 30px;
    --h2-font-size: 20px;
    --p-font-size: 18px;
    --span-error-font-size: 14px;
    --info-font-size: 14px;

    --input-font-size: 14px;
    --button-font-size: 14px;

    /* - - - STYLES - - - */

    --general-font-family: "Lucida Console";
}