<div class="loginDiv">
    <h1 class="loginH1">
        WELCOME TO uXat PLATFORM!
    </h1>
    <div class="loginBoxDiv">
        <h2 class="loginH2">
            Login
        </h2>
        <p class="loginP">
            Nick:
        </p>
        <input type="text" class="loginInput" placeholder="Put your nick here..." ng-model="user.nick" />
        <p class="loginP">
            Pass:
        </p>
        <input type="text" class="loginInput" placeholder="Put your pass here..." ng-model="user.pass" />
        <p></p>
        <button class="uxatButton" ng-click="loginUser(user)" ng-disabled="!user.nick || !user.pass">
            Login Account
        </button>
        <p></p>
        <button class="uxatButton" ng-click="go()">
            Back to Login/Create
        </button>
        <p></p>
    </div>
</div>