<div class="createDiv">
    <h1 class="createH1">
        WELCOME TO uXat PLATFORM!
    </h1>
    <div class="createBoxDiv">
        <h2 class="createH2">
            Create
        </h2>
        <p class="createP">
            Nick:
        </p>
        <input type="text" class="createInput" placeholder="Put your nick here..." ng-model="user.nick" />
        <p class="createP">
            Pass:
        </p>
        <input type="text" class="createInput" placeholder="Put your pass here..." ng-model="user.pass" />
        <p class="createP">
            Retry Pass:
        </p>
        <input type="text" class="createInput" placeholder="Put your pass here..." ng-model="user.passTentative"
            ng-disabled="!user.pass" />
        <p></p>
        <button class="uxatButton" ng-click="createUser(user)"
            ng-disabled="!user.nick || !user.pass || !user.passTentative">
            Create Account
        </button>
        <p></p>
        <button class="uxatButton" ng-click="go()">
            Back to Login/Create
        </button>
        <p></p>
        <span id="spanErrorCreate" class="errorSpan"></span>
        <p class="createP">
            INFO: user nick isn't case-sensitive, no matter if you put lower or upper case, it will be converted to lower
        </p>
    </div>
</div>