@import 'theme.css';

.createDiv,
.createBoxDiv {
    display: grid;
    grid-template-columns: 100%;
}

.createDiv {
    justify-items: center;
    text-align: center;
    font-family: var(--font-family);
    color: var(--text-color);
    text-shadow: var(--shadow-color) 2px 1px;
}

.createBoxDiv {
    justify-items: left;
    margin: 20px 100px;
    padding: 30px;
    width: 420px;
    border-radius: 25px;
    background-color: var(--box-div-background-color);
    text-shadow: var(--shadow-color) 1px 0.5px;
}

.createH1 {
    margin: 25px 0px;
    border: 0px;
    padding: 0px;
    font-size: var(--h1-font-size);
}

.createH2 {
    justify-self: center;
    font-size: var(--h2-font-size);
}

.createP {
    font-size: var(--p-font-size);
}

.createInput {
    margin: 0;
    padding: 5px 5px;
    width: -webkit-fill-available;
    border-radius: 3px;
    font-size: var(--input-font-size);
    font-family: var(--font-family);
    background-color: var(--input-background-color);
    border-color: var(--input-border-color);
    color: var(--input-text-color);
    text-shadow: var(--shadow-color) 1px 0.5px;
}