@import url("../../base/style/themeStyleVars.css");

.accessDiv,
.accessBoxDiv {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}

.accessDiv {
    text-align: center;
    font-family: var(--general-font-family);
}

.accessBoxDiv {
    text-align: left;
    margin: 20px 100px;
    padding: 30px;
    width: 420px;
    border-radius: 25px;
    background-color: var(--access-box-div-background-color);
}

.accessBoxDivPin {
    background-color: var(--pin-box-div-background-color);
}

.accessH1,
.accessH2,
.accessP,
.accessInput,
.accessButton {
    width: -webkit-fill-available;
}

.accessH1 {
    margin: 25px 0px;
    border: 0px;
    padding: 0px;
    font-size: var(--h1-font-size);
    color: var(--h1-text-color);
    text-shadow: var(--h1-shadow-color) 2px 1px;
}

.accessH2 {
    text-align: center;
    font-size: var(--h2-font-size);
    color: var(--h2-text-color);
    text-shadow: var(--h2-shadow-color) 1px 0.5px;
}

.accessP {
    font-size: var(--p-font-size);
    color: var(--p-text-color);
    text-shadow: var(--p-shadow-color) 0.5px 0.2px;
}

.accessInput {
    margin: 0;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: var(--input-font-size);
    font-family: var(--general-font-family);
    background-color: var(--input-background-color);
    border-color: var(--input-border-color);
    color: var(--input-text-color);
    text-shadow: var(--input-shadow-color) 0.5px 0.2px;
}

.accessButton {
    text-align: center;
    padding: 5px 5px;
    border-width: 1px;
    border-radius: 3px;
    font-size: var(--button-font-size);
    font-family: var(--general-font-family);
    background-color: var(--button-background-color);
    border-color: var(--button-border-color);
    color: var(--button-text-color);
    text-shadow: var(--button-shadow-color) 0.5px 0.2px;
}